.form-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #1a1a1a;
  border-radius: 10px;
  color: #fff;
  font-family: 'Creepster', cursive;
}

h1 {
  text-align: center;
  color: #ff7518;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.error {
  color: #b30000; /* rojo sangriento */
  font-size: 0.85rem;
  display: block;
  margin-top: 0.2rem;
}

mat-checkbox {
  display: block;
  margin: 1rem 0;
  color: #fff;
}

button {
  display: block;
  width: 100%;
  font-size: 1rem;
}
